<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h2>Login</h2>
    <div class="login-container">
        <form action="/login" method="post">
            <input type="text" name="name" placeholder="Name" required><br/>
            <input type="password" name="password" placeholder="Password" required><br/>
            <input type="submit" id="btn">
           
        </form>
         <a href="/register">make a new account</a>
</div>
    
</body>
</html>